a{
    text-decoration: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 5px;
}

.btnWrap{
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

.registerBtn {
    color:#6495ed;
    border: solid 1px #6495ed;
}

.registerBtn:hover {
    background-color:#6495ed;
    color: #eee;
}

.loginBtn{
    color:#eee;
    border: solid 1px #a52a2a;
    background-color: #a52a2a;
}


